---
layout: default-no-footer
title: Posts
permalink: posts/
---
<div class="recent-posts">
  {% for post in site.posts %}
    {% capture currentyear %}
      {{ post.date | date: "%Y" }}
    {% endcapture %}
    {% if currentyear != year %}
      {% unless forloop.first %}
        </ul>
      {% endunless %}
      <h3>{{ currentyear }}</h1>
      <ul>
      {% capture year %}{{ currentyear }}{% endcapture %}
    {% endif %}
    <strong><li><a href="{{ post.url }}">{{ post.title }}</a></li></strong>
  {% endfor %}
</div>

