.intro-img {
	padding-top: 200px;
	padding-bottom: 250px;
	background-image: url(img/CalHacksPano.png);
	background-size: 100%;
	background-repeat: no-repeat;
	-webkit-filter: grayscale(100%);
}

.intro-img .intro-img-blur {
	-webkit-filter: blur(5px);

}

.intro-text {
	color: #fff;
}

.intro-text. intro-heading {
	font-family: "Helvetica Neue", "Helvetica";
}
