<footer>
  <section>
    <div class="container"> 
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-left">
          &copy <a href="/about/">Jacob Young 2015</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
          <a title="Twitter: @{{ site.twitter_username }}" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa intro fa-twitter fa-lg"></i></a>
          <a title="Github: {{ site.github_username }}" href="https://github.com/{{ site.github_username }}"><i class="fa intro fa-github fa-lg"></i></a>
          <a title="Linkedin: {{ site.linkedin_username }}" href="https://linkedin.com/in/{{ site.linkedin_username }}/en"><i class="fa intro fa-linkedin-square fa-lg"></i></a>
          <a title="Reddit: /u/{{ site.reddit_username }}" href="https://reddit.com/u/{{ site.reddit_username }}"><i class="fa intro fa-reddit-square fa-lg"></i></a>
          <a title="Encrypted Communication" href="/encrypted/"><i class="fa intro fa-key fa-lg"></i></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
          <a href="https://creativecommons.org/licenses/">License</a> - <a href="#">Privacy</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SITE JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/assets/js/young.js"></script>
</footer>
