<footer>
  <section>
    <div class="container"> 
      <div class="row">
        <div class="col-lg-4 tex-left">
          &copy <a href="/about/">Jacob Young 2015</a>
        </div>
        <div class="col-lg-4 text-center">
          <a title="Twitter: @{{ site.twitter_username }}" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa intro fa-twitter fa-lg"></i></a>
          <a title="Github: {{ site.github_username }}" href="https://github.com/{{ site.github_username }}"><i class="fa intro fa-github fa-lg"></i></a>
          <a title="Linkedin: {{ site.linkedin_username }}" href="https://linkedin.com/in/{{ site.linkedin_username }}/en"><i class="fa intro fa-linkedin-square fa-lg"></i></a>
          <a title="Reddit: /u/{{ site.reddit_username }}" href="https://reddit.com/u/{{ site.reddit_username }}"><i class="fa intro fa-reddit-square fa-lg"></i></a>
          <a title="Encrypted Communication" href="/pgp/"><i class="fa intro fa-user-secret fa-lg"></i></a>
        </div>
        <div class="col-lg-4 text-right">
          <a href="https://creativecommons.org/licenses/">License</a> - <a href="#">Privacy</a>
        </div>
      </div>
    </div>
  </div>
</section>
</footer>
