<footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        &copy <a href="/about/">Jacob Young 2015</a> - <a href="/license/">License</a>
      </div>
    </div>
  </div>

  <!-- SITE JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="/assets/js/young.js"></script>
</footer>
