// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

// Just Blog
.blog-post-date {
  display: inline-block;
  float: right;
  color: #a9a9a9;
}

.page,
.post {
  margin-bottom: 3rem;
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: $theme-color;
}
.page-title,
.post-title {
  margin-top: 0;
  margin-bottom: 1rem;
}

.post-data-elements {
  float: none;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #a9a9a9;

  .post-date {
    display: inline-block;
  }

  #theme-toggle {
    display: inline-block;
  }
}
// On large screens float date to left
@media(min-width: 53rem) {
  .post-data-elements {
    display: inline-block;
    float: left;
    margin-top: 3px;
    margin-left: -13rem;
    font-size: inherit;
    vertical-align: middle;
  }
   .post-date {
      max-width: 190px;
      word-wrap: break-word;
   }
}

.post-date {
  display: block;
  border-left: 1px solid #a9a9a9;
  padding-left: 5px;
}

// Related posts
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      font-size: 75%;
      color: #999;
    }

    a:hover {
      color: #268bd2;
      text-decoration: none;

      small {
        color: inherit;
      }
    }
  }
}
