.dark {
  background-color: $dark-background;
  color: $dark-text-color; 

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  .post-title {
    color: $theme-color-orange;
  }

  code, .highlight {
    background-color: $dark-code-background;
  }
}