// These are commonly used/changed attributes across SASS files

// Font
$fullscreen-font: 20px;
$smallscreen-font: 18px;
$font-weight: 300;
$font-weight-header: 700;

// Layout
$container-width: 38rem;

// Color/Styling
// Light Theme:
//    main-background: #fff
//    text-color:      #515151
// Dark Theme:
//    main-background: #333
//    text-color:      #E9E9E9
$main-background: #fff;
$theme-color: #333;
$theme-color-orange: #f7b757;
$text-color: #515151;
$navbar-links: #ffca7c;
$message-color: #ffca7c;
$code-text: #bf616a;
$code-background: #f9f9f9;
// Dark Versions
$dark-background: #333;
$dark-code-background: #404040;
$dark-text-color: #e8e8e9; 
// RGBA versions
$theme-color-orange-rgba: rgba(247,183,87,0.3);
$navbar-links-rgba: rgba(255,202,124,0.4);
$message-color-rgba: rgba(255,202,124,0.4);
