// These are commonly used/changed attributes across SASS files

// Font
$fullscreen-font: 20px;
$smallscreen-font: 18px;
$font-weight: 300;

// Layout
$container-width: 38rem;

// Color/Styling
// Light Theme:
//    main-background: #fff
//    text-color:      #515151
// Dark Theme:
//    main-background: #333
//    text-color:      #E9E9E9
// Dark Grey - 1d2120 
$main-background: #333;
$theme-color: #F7B757;
$text-color: #E8E8E9;
$navbar-links: #FFCA7C;
$message-color: #FFCA7C;
// RGBA versions
$theme-color-rgba: rgba(247, 183, 87, 0.3);
$navbar-links-rgba: rgba(255, 202, 124, 0.4);
$message-color-rgba: rgba(255, 202, 124, 0.4);
