@font-face {
	font-family: 'Open-SansRegular';
	src: url('/assets/fonts/OpenSans-Regular-webfont.eot');
	src: url('/assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/OpenSans-Regular-webfont.woff') format('woff'),
	url('/assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
	url('/assets/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'Open-SansLight';
	src: url('/assets/fonts/OpenSans-Light-webfont.eot');
	src: url('/assets/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/OpenSans-Light-webfont.woff') format('woff'),
	url('/assets/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
	url('/assets/fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Open-SansRegular", "HelveticaNeue-Light" , "Helvetica", san-sarif;
	font-weight: 200;
	font-size: 20;
	color: rgb(46, 46, 46);
}

h1, h2, h3, h4, h5 {
	font-family: "Open-SansLight";
	font-weight: 300;
}

a {
	color: rgb(46, 46, 46);
}

a:hover {
	color: #3498DB;
}

p {
	margin: 25px 0;
	font-size: 20px;
	line-height: 160%;
}

img {
	max-width: 600px;
	border-radius: 5px;
}

.navbar {
	padding-bottom: 0.4em;
	padding-top: 0.4em;
	border-radius: 0px;
	margin: 0;
	background-color: rgba(0,0,0,.4);
}

.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: rgba(0,0,0,.4);
}

.navbar>.container-fluid .navbar-brand {
	float: none;
	margin-top: -12px;
	margin-left: 0.2em;
	display: inline-block;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	font-weight: 100;
	font-size: 20px;
	/* border: 1px solid white;
	border-radius: 3px;
	background-color: rgba(0,0,0,.4); */
	display: inline-block;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: white;
	background-color: rgba(52,152,219,0.5);
}

.title-row {
	text-align: left;
	padding-bottom: 1em;
	margin-bottom: 0;
}

#intro-social .fa-twitter {
	color: rgba(0, 0, 0, 0.4);
}

#intro-social .fa-twitter:hover {
	color: #55acee;
}

#intro-social .fa-github {
	color: rgba(0, 0, 0, 0.4);
}

#intro-social .fa-github:hover {
	color: #000;
}

#intro-social .fa-linkedin-square {
	color: rgba(0, 0, 0, 0.4);
}

#intro-social .fa-linkedin-square:hover {
	color: #0D6698;
}

#intro-social .fa-reddit-square {
	color: rgba(0, 0, 0, 0.4);
}

#intro-social .fa-reddit-square:hover{
	color: #000;
}

#intro-social .fa-key {
	color: rgba(0, 0, 0, 0.4);
}
#intro-social .fa-key:hover {
	color: #FE8650;
}

#intro {
	color: #16a085;
	background-color: #34495E;
	height: 100vh;
	width: 100%;
	/* background: url(../images/profile-picture.jpg) no-repeat center center fixed; */
	background: url(https://i.imgur.com/F7k9gMM.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#intro h1 {
	color: #fff
}

#intro .title {
	padding-top: 45vh;
}

#intro p>span {
	padding-right: 1em;
	font-weight: 400;
	color: #fff;
}

.read-more {
	position: absolute;
	padding-top: 40vh;
	bottom: 10px;
	left: 35%;
	width: 30%;
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	color: white;
	padding: 10px;
	font-size: 14px;
}

.read-more:hover {
	background-color: rgba(52,152,219,0.5);
}

#intro-about {
	padding-top: 2em;
	padding-bottom: 2em;
}

#intro-social {
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #edeff1;
}

#latest-post {
	padding-top: 1em;
	padding-bottom: 3.5em;
}

#latest-post .title-padding {
	padding-bottom: 0.5em;
}

#page {
	margin-bottom: 10em;
}

#page>small {
	padding-bottom: 3em;
}

#posts {
	padding-top: 2em;
	padding-bottom: 2em;
}

#posts ul>li {
	list-style: none;
	padding-bottom: 1em;
}

#post {
	margin-top: 1em;
	margin-bottom: 7em;
}

#post h1, #post h2, #post h3, #post h4, #post h5, #post h6 {
	text-align: left;
}

#post img {
	margin-left: -15px;
	max-width: 80%;
	min-width: 80%;
	

}

footer {
	position: absolute;
	bottom: relative;
	left: 0;
	right: 0;
	background-color: transparent;
}

footer a {
	text-decoration: none;
	font-weight: 200;

}

footer .fa-twitter {
	color: rgba(0, 0, 0, 0.4);
}

footer .fa-twitter:hover {
	color: #55acee;
}

footer .fa-github {
	color: rgba(0, 0, 0, 0.4);
}

footer .fa-github:hover {
	color: #000;
}

footer .fa-linkedin-square {
	color: rgba(0, 0, 0, 0.4);
}

footer .fa-linkedin-square:hover {
	color: #0D6698;
}

footer .fa-reddit-square {
	color: rgba(0, 0, 0, 0.4);
}

footer .fa-reddit-square:hover{
	color: #000;
}

footer .fa-key {
	color: rgba(0, 0, 0, 0.4);
}
footer .fa-key:hover {
	color: #FE8650;
}
