---
layout: default
title: Blog            
description: My writings about tech, social bullshit, and developing
---

<section id="post">
  {% for post in site.posts %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <a href="{{ post.url }}"><h1>{{ post.title }}</h1></a>
        <small>{{ post.date | date: "%b %-d, %Y" }}{% if post.meta %} • {{ post.meta }}{% endif %}</small>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-1">
        <article class="post-content">
          {{ post.content }}
        </article>
      </div>
    </div>
    <hr/>
  </div>
  {% endfor %}
</section>