---
layout: default
---

<article class="post">
  <h2 class="post-title">{{ page.title }}</h2>
    <div class="post-data-elements">
      <a href="#" id="theme-toggle">Theme</a>
      <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: "%B %-d, %Y" }}</time>
    </div>
  {{ content }}
</article>

<aside class="related">
  {% if page.previous %}
    <div id="previous">
      <span>←</span>
      <a href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a>
    </div>
  {% endif %}
  {% if page.next%}
    <div id="next">
      <span>→</span>
      <a href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a>
    </div>
  {% endif %}  
</aside>
